* {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-family: "eurostile", sans-serif;
}

.subtitle {
	font-weight: 300;
	line-height: 1.5;
}

body {
	color: #293347;
	font-weight: 300;
	line-height: 1.5;
}

/* Navbar Start */
.navbar {
	padding: 1em;
	display: flex;
	justify-content: flex-end;
}

.navbar-logo {
	display: inline-block;
	padding: 1.3em;
}

.navbar-menu {
	display: inline-block;
}

.navbar-list {
	display: flex;
	list-style: none;
}

.navbar-list li {
	padding: 1.3em;
}

.navbar-button {
	font-size: 15px;
	font-weight: 300;
	color: #293347;
	font-family: "europa", sans-serif;
	text-decoration: none;
}

.contact-button {
	font-size: 15px;
	padding: 0.7em;
	background-color: transparent;
	border-color: #4e94ec;
	color: #4e94ec;
	border: 1.5px solid;
	border-radius: 35px;
}

/* Navbar End */

/* Title Start */
.hero {
	margin-top: 4em;
}

.title-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.is-size-1 {
	color: #363636;
	font-size: 3rem !important;
	font-weight: 800;
	line-height: 1.125;
	margin-bottom: 1.5rem;
}

.profile-img {
	border-radius: 100%;
	width: 300px;
	height: 225px;
	margin: 2rem 0;
}

/* Title End */

/* About Start */

.about {
	display: flex;
	justify-content: center;
	background-color: #4e94ec;
}

.about-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15em;
}

.center-column {
	width: 40%;
}

.is-size-3 {
	text-align: center;
	font-size: 2rem !important;
	font-weight: 800;
	line-height: 1.125;
	margin-top: 3em;
	margin-bottom: 1em;
}

.is-white {
	color: white;
}

.about-wrap h2 {
	font-size: 1rem !important;
	color: white;
	text-align: justify;
}

.my-skills {
	margin-top: -10em;
}

.container {
	justify-content: center;
	align-items: center;
	padding: 1em;
	display: flex;
}

.box {
	border-radius: 12px;
	width: 860px;
	padding: 0em auto;
	background: white;
	box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
}

.columns {
	display: flex;
	justify-content: space-around;
}

.column {
	text-align: center;
	width: 100%;
}

.column:first-child {
	border-right: 1px solid #e6ecf8;
}

.skill-logo {
	width: 60px;
	padding: 2em;
	margin-top: 2em;
}

.is-size-4 {
	color: #363636;
	font-size: 1.2rem !important;
}

.column ul {
	list-style: none;
	margin-bottom: 3em;
}

.list-title {
	font-weight: 400 !important;
	color: #4e94ec;
}

.column p {
	font-size: 12px;
	line-height: 30px;
}

.subtext {
	margin: 2em 8em;
}

.is-size-5 {
	font-size: 1rem !important;
	text-align: center;
}

.is-size-5 a {
	text-decoration: none;
	color: #4e94ec;
}

.projects-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
}
/* About End */

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 768px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 769px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 1088px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
